/* Footer */
footer {
  margin-top: 100px;
}
.WrapMap {
  width: 100%;
  height: 505px;
  position: relative;
}
.WrapMap iframe {
  width: 100%;
  height: 450px;
  border: 0;
}
.WrapBottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #dddddd;
}
.LeftWrapBottom {
  width: 50%;
}

.LeftWrapBottom ul {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}
.LeftWrapBottom ul li {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
.RightWrapBottom p {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
.RightWrapBottom span {
  font-family: Roboto;
  font-size: 35px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 10px;
}
.InputWrap {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.RightWrapBottom input {
  width: 363px;
  height: 73px;
  padding-left: 20px;
  border: 1px solid #fff;
  gap: 10px;
}
.RightWrapBottom button {
  width: 80px;
  height: 75px;
  border: 1px solid #fff;

  background-color: #ed693f;
}
.TextBottomFooter {
  margin-top: 50px;
}
.TextBottomFooter p {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}
