.AboutUs {
  display: flex;
  justify-content: space-around;
  margin-top: 110px;
}
.ImgWrap {
  width: 50%;
}
.ImgAboutUs {
  width: 750px;
  height: 450px;
  top: 3834px;
  left: 90px;
  opacity: 0.75px;
}
.WrapButtonAboutUs {
  display: flex;
  justify-content: space-around;
  margin-top: 38px;
  align-items: center;
}
.WrapButtonAboutUs p img {
  width: 30px;
  height: 15px;
  top: 21.91259765625px;
  left: 30px;
}
.WrapButtonAboutUs ul {
  display: flex;
}
.WrapButtonAboutUs ul li {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.Viber {
  background-color: #0d386b;
}
.Telegram {
  background-color: #177c64;
}
.Instagram {
  background-color: #70167e;
}
.WrapButtonAboutUs ul li + li {
  margin-left: 25px;
}

.WrapButtonAboutUs ul li a {
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.WrapButtonAboutUs ul li img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 100%;
  max-height: 100%;
}
.TextWrapAboutUs {
  width: 50%;
  margin-left: 130px;
}
.TextWrapAboutUs h3 {
  font-family: Roboto;
  font-size: 45px;
  font-weight: 500;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
}
.TextWrapAboutUs p {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 25px;
}
.TextWrapAboutUs button {
  font-family: Nunito;
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: #ed693f;
  margin-top: 25px;
}
@media screen and (max-width: 1024px) {
  .AboutUs {
    flex-direction: column-reverse;
    margin-top: 100px;
  }
  .TextWrapAboutUs {
    margin-left: 0;
    width: 100%;
  }
  .ImgWrap {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .WrapButtonAboutUs {
    margin-top: 58px;
    justify-content: space-between;
    width: 75%;
  }
}
